@tailwind base;
@tailwind components;
@tailwind utilities;

.parent-underlinle-animation .underline-animation {
  display: inline-block;
  position: relative;
}

.parent-underlinle-animation .underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c7a004;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.parent-underlinle-animation:hover .underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-1.25em);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.transition-filter[open] .transition-filter-div {
  animation-name: fadeInDown;
  animation-duration: 0.4s;
}
